// pc 1280-
// tablet 768-
// sp -767

@mixin tablet {
  @media(max-width: 1279px) {
    @content;
  }
}

@mixin sp {
  @media(max-width: 767px) {
    @content;
  }
}

// vw値 計算用 ここから　参考：https://meshikui.com/2021/12/13/3329/
$pcSize: 1440px;
$tabletSize: 768px;
$spSize: 375px;

@function pcvw($size: 10px) {
  $pcvw: $size * 100vw / 1440px;
  @return $pcvw
}

@function tabletvw($size: 10px) {
  $tabletvw: $size * 100vw / 768px;
  @return $tabletvw
}

@function spvw($size: 10px) {
  $spvw: $size * 100vw / 375px;
  @return $spvw
}

// vw値 計算用 ここまで

.about-footer {
  position: absolute;
  top: pcvw(3257px);
  width: 100%;

  @include tablet {
    top: tabletvw(2976px);
  }

  @include sp {
    top: spvw(3183px);
  }
}